/dot_config/gtk-3.0/noctalia.css
/dot_config/gtk-4.0/noctalia.css
/dot_config/niri/noctalia.kdl
/dot_config/alacritty/noctalia.toml
/dot_config/qt5ct/colors/noctalia.conf
/dot_config/qt6ct/colors/noctalia.conf
